**/*.md
!README.md
.dockerignore
.editorconfig
.env.*.local
.env.local
.env.local.php
.git/
.github/
.gitignore
.php-cs-fixer.cache
.phpunit.cache/
compose*.yaml
docs/
phpstan.dist.neon
phpunit.dist.xml
tests/
var/
vendor/
public/assets/
assets/vendor/
Makefile
