parameters:
    level: 9
    paths:
        - src/
        - tests/
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
